@mixin button {
  background-color: $color-dark;
  border-bottom: 1px solid transparent;

  &.active {
    color: $color-brand;
    border-bottom: 1px solid $color-brand;
  }
}




@mixin media-laptop {
  @media(max-width: $content-width) {@content; }
}

@mixin media-mid {
  @media(max-width: $mid-width) {@content; }
}

@mixin media-tablet {
  @media(max-width: $tablet-width) {@content; }
}

@mixin media-mobile {
  @media(max-width: $mobile-width) {@content; }
}