$color-brand: #FFCA42;
$color-disabled: #8E8E8E;
$color-background: #F5F8FC;


$color-light: #FFFFFF;
$color-dark: #1B3764;


$content-width: 1400px;
$mid-width: 1090px;
$tablet-width: 1024px;
$mobile-width: 767.5px;
