@import '../../styles/settings/mixins.scss';
@import '../../styles/settings/variables.module.scss';

.categoryListWrapper {
  display: flex;
  background-color: white;
  width: 100%;
  justify-content: space-around;
}

.linksBox {
  position: relative;
}

.noLinks {
  position: absolute;
  display: none;
  visibility: hidden;
}

.productLink {
  background: white;
  text-decoration: none;
  color: $color-dark;
}

.productLink:hover {
  color: $color-brand;
}