@import '../../styles/settings/variables.module.scss';
@import '../../styles/settings/mixins.scss';

.addressBox {
  display: flex;
  flex-direction: column;
  width: 100%;

  &Inside {
    display: flex;
    justify-content: center;
    gap: 50px;

    @include media-mobile {
      flex-direction: column;
    }
  }

  &Addresstype {
    flex: 1;
    flex-direction: column;

    input, select{
      width: calc(100% - 25px);
    }
    select{width: calc(100% - 8px);}


  }
}

.addressTitle {
  display: flex;
  justify-content: center;

  
}

.disabled {
  background: $color-disabled;
  pointer-events: none;
}
