@import '../../styles/settings/variables.module.scss';
@import '../../styles/settings/mixins.scss';

.productsList {
  display: grid;
  max-width: 1400px;
  margin: 20px auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.productCard {
  box-sizing: border-box;
  border: 1px solid $color-dark;
}  
  
.productLink{
    all: unset;
    
 }
 .imgBox {
    position: relative;
    width: 96%;
    margin: 2% 2% 0 2%;
    height: 400px; 
    overflow: hidden;
  }
