@import '../../styles/settings/variables.module.scss';
@import '../../styles/settings/mixins.scss';

.header {
  background-color: $color-dark;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;

  &Wrapper {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
  }

  &Icons {
    display: flex;
    gap: 10px;
  }

  &Container {
    display: flex;
    width: 55%;
    justify-content: space-between;
  }

  &LinksContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include media-mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 20%;
      height: 10%;
      position: fixed;
      top: 0;
      background-color: $color-dark;
      overflow: hidden;
      right: -100%;
      transition: all 1s ease-in-out;

      &_active {
        right: 0;
        display: flex;
        background-color: $color-dark;
        border-radius: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: 80%;
        width: 20%;
        height: 10%;
        position: absolute;
        top: 8.5%;
        transition: all 0.8s ease-in-out;
      }
    }
  }
}


.hamburger {
  display: none;
}
@include media-mobile {
  .hamburger {
    padding-top: 5px;
    display: block;
    width: 3.5rem;
    height: 1.2rem;
    position: relative;
    cursor: pointer;
  }

  .hamburger span,
  .hamburger::before,
  .hamburger::after {
    left: 0;
    position: absolute;
    width: 100%;
    height: 10%;
    transition: all 0.4s ease-in-out;
    background-color: $color-light;
  }

  .hamburger::before,
  .hamburger::after {
    content: '';
  }

  .hamburger::before {
    top: 0;
  }

  .hamburger::after {
    bottom: 0;
  }

  .hamburger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .hamburger_active span {
    transform: scale(0) translate(0px, -50%);
  }

  .hamburger_active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .hamburger_active::after {
    top: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .header__menu_active {
    @include media-tablet {
      right: 0;
      position: absolute;
      top: 12%;
      transition: all 0.8s ease-in-out;
    }
  }
}
