html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: $color-light;
  font-family: system-ui, sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

button,
a {
  @include button;
  display: flex;
  align-items: center;
}
