@import '../settings/variables.module.scss';
@import '../settings/mixins.scss';

.header {
  background-color: $color-dark;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;

  &Wrapper {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
  }

  &Icons {
    display: flex;
    gap: 10px;
  }

  &Container {
    display: flex;
    width: 55%;
    justify-content: space-between;
  }

  &LinksContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include media-tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 20%;
      height: 10%;
      position: fixed;
      top: 0;
      background-color: $color-dark;
      overflow: hidden;
      right: -100%;
      transition: all 1s ease-in-out;

      &_open {
        right: 0;
        display: flex;
        background-color: $color-dark;
        border-radius: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: 80%;
        width: 20%;
        height: 10%;
        position: absolute;
        top: 6%;
        transition: all 0.8s ease-in-out;
      }
    }
  }
}

.svgBasket * {
  position: absolute;
  width: 35px;
  height: 35px;
  fill: $color-dark;

  &:hover {
    fill: $color-brand;
  }

  &.active {
    fill: $color-brand;
  }
}

.svgSignUp * {
  position: absolute;
  width: 35px;
  height: 35px;
  fill: white;

  &:hover {
    fill: $color-brand;
  }

  &.active {
    fill: $color-brand;
  }
}

.svgLogin * {
  position: absolute;
  width: 35px;
  height: 35px;
  fill: white;

  &:hover {
    fill: $color-brand;
  }

  &.active {
    fill: $color-brand;
  }
}
