@import '../settings/variables.module.scss';

.links {
  text-decoration: none;
  margin-right: 10%;
  color: $color-light;
  background-color: transparent;

  &:hover {
    color: $color-disabled;
  }

}

